/* PlayButton.css */
.play-button {
    /* background-color: transparent; Transparent background color */
    background-color: white !important; /* White interior */
    border: 2px solid #f0eded; /* Gray border */
    border-radius: 10%; /* Circular shape */
    width: 58px; /* Button width */
    height: 48px; /* Button height */
    cursor: pointer; /* Pointer cursor on hover */
    position: relative; /* Position relative for triangle */
    transition: box-shadow 0.3s; /* Smooth transition for box shadow */
    margin-left:35px;
  }
  
/* Add shadow on hover */
.play-button:hover {
    box-shadow: 0px 0px 5px 0px rgba(186, 186, 186, 0.75); 
  }

  .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg); /* Rotate to create a diamond shape */
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Left border */
    border-right: 10px solid transparent; /* Right border */
    border-bottom: 15px solid black; /* Bottom border */
    border-top: none; /* Remove top border */
    background-color: transparent; /* Transparent background */
  }
  